<h1>Top 10 Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Total de agendamento</th>
    </tr>
  </thead>
  <tbody>
  	<% @result.each_with_index do |cliente, i| %>
    <tr>
      <th scope="row"><%= i+1 %></th>
      <td><%= cliente['name'] %></td>
      <td><%= cliente['total'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Exportar para Excel', spreadsheets_spreadsheet_path(format: :xlsx) %>
